
body {
    background:#201c29;
    color:white;
    ;
}
.table {
    position: fixed;
  
    
}
.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.icon {
    
    color: rgba(244, 175, 96,0.4);
}

.red {
    background-color: red;
    height: 60px;
}

.black {
    color:white;
}

.gray {
    color: rgb(65, 54, 54);
}

.icon-link {
    padding: 5px;
   
}