
body {
    background: linear-gradient(90deg,yellow,orange,yellow,red, blue);
}

.red {
    background-color: red;
    height: 60px;
}

.black {
    color:white;
}

.gray {
    color: rgb(65, 54, 54);
}

.icon-link {
    padding: 5px;
   
}